<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User profile</title>
</head>

<body>
    <div style="display: flex; justify-content: space-around; flex-direction: column;">
        <form action="/signup" method="POST">
            <div style="display: flex; justify-content: space-around; width: 500px; flex-direction: column;">
                <input type="" name="firstname" placeholder="first name">
                <input type="" name="lastname" placeholder="last name">
                <input type="" name="middlename" placeholder="middle name">
                <input type="" name="regnumber" placeholder="registration number">
                <input type="" name="yearofstudy"placeholder="Enter year of study">
                <input type="" name="password" placeholder="password">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

<style>
    form div input, button{
        margin-top: 5px;
    }
</style>
</html>